@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using WizardWorldApp.Data


<div style="width: 800px;">
    <MudCard>
        <MudCardContent>
            <MudForm>
                <MudSelect T="string" Label="Message category" AnchorOrigin="Origin.BottomCenter"
                           @bind-Value="@_inputValue" @bind-Value:event="ValueChanged">
                    <MudSelectItem Value="@(FeedbackType.Bug.ToString())"/>
                    <MudSelectItem Value="@(FeedbackType.DataError.ToString())"/>
                    <MudSelectItem Value="@(FeedbackType.General.ToString())"/>
                    <MudSelectItem Value="@(FeedbackType.Suggestion.ToString())"/>
                </MudSelect>
                <MudTextField @bind-Value="TextValue" Label="Your Message" Variant="Variant.Text" Lines="10" 
                              AdornmentColor="Color.Info" ></MudTextField>
            </MudForm>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" @onclick="Send" Color="Color.Info" Class="ml-auto">Send</MudButton>
        </MudCardActions>
    </MudCard>
</div>
@code {
    private string _inputValue = FeedbackType.General.ToString();
    public string TextValue { get; set; }

    private void Send() {
        
    }
}