@page "/"
@using WizardWorldApp.Components

<MudGrid Class="pl-5 pr-5" Spacing="0" Style="@($"background:{Colors.Blue.Lighten4}; width:100vw")">
    <div class="localization">
        <MudItem Class="pl-0 pt-7 pb-0">
            <MudText Typo="Typo.h6" Class="ml-3">Select a category and browse the data!</MudText>
        </MudItem>
        <MudItem Class="pl-4 pr-4">
            <MudSelect T="string" Label="Category" AnchorOrigin="Origin.BottomCenter"
                       @bind-Value="@_inputValue" @bind-Value:event="ValueChanged">
                <MudSelectItem Value="@("Elixirs")"/>
                <MudSelectItem Value="@("Houses")"/>
                <MudSelectItem Value="@("Ingredients")"/>
                <MudSelectItem Value="@("Spells")"/>
                <MudSelectItem Value="@("Wizards")"/>
            </MudSelect>
        </MudItem>
        <MudItem Class="pa-4">
            @if (_inputValue == "Spells") {
                <SpellsDataTable/>
            }
            else if (_inputValue == "Houses") {
                <HousesDataTable/>
            }
            else if (_inputValue == "Elixirs") {
                <ElixirsDataTable/>
            }
            else if (_inputValue == "Ingredients") {
                <IngredientsDataTable/>
            }
            else if (_inputValue == "Wizards") {
                <WizardsDataTable/>
            }
        </MudItem>
    </div>
</MudGrid>


@code {
    private string _inputValue = "Spells";

}