@page "/"
@using WizardWorldApp.Components

<MudContainer MaxWidth="MaxWidth.False"
              Style="@($"background:{Colors.Blue.Lighten4}; height:calc(100vh - var(--mud-appbar-height) + 50px)")">
    <MudGrid>
        <div class="localization">
            <MudItem Class="pl-0 pt-7 pb-0">
                <MudText Typo="Typo.h6" Class="ml-3">Select a category and browse the data!</MudText>
            </MudItem>
            <MudItem Class="pl-4">
                <MudSelect T="string" Label="Category" AnchorOrigin="Origin.BottomCenter" 
                           @bind-Value="@InputValue" @bind-Value:event="ValueChanged">
                    <MudSelectItem Value="@("Houses")"/>
                    <MudSelectItem Value="@("Magical Creatures")"/>
                    <MudSelectItem Value="@("Spells")"/>
                </MudSelect>
            </MudItem>
            <MudItem Class="pa-4">
                @if (InputValue == "Spells") {
                   <DataTable/> 
                }
            </MudItem>
        </div>
    </MudGrid>
</MudContainer>

@code {
    private string InputValue = "Spells";

}
